
###> symfony/framework-bundle ###
/.env
# /public/css/
# /public/js/
/public/manifest.json
/node_modules/*
/var/
/vendor/
/assets/build/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

.vscode
*.code-workspace