<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-lg-5">
        {{ form(form) }}
      </div>
    </div>
  </div>
</div>

{% block js %}
    <script>
        $(document).ready(function () {
            $('#new_medical_pathient_birthday').datepicker({format: "dd/mm/yyyy"});
        });
    </script>
{% endblock %}