<div class="col-xl-9 col-lg-8">
  <div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script>
        $(document).ready(function () {
            $('#prescription_startAt').datepicker({format: "dd/mm/yyyy"});
            $('#prescription_endsAt').datepicker({format: "dd/mm/yyyy"});

            new SlimSelect({select: '#prescription_class'});
            new SlimSelect({
                select: '#prescription_medicine',
                searchingText: 'Buscando medicamentos...',
                searchPlaceholder: 'Ingrese 3 letras o mas para filtrar el medicamento',
                searchHighlight: true,
                ajax: function (search, callback) {
                    if (search.length < 3) {
                        callback('Necesita ingresar 3 letras o más')
                        return
                    }

                    // Perform your own ajax request here
                    fetch(`/medicamento/search?name=${search}`)
                        .then(function (response) {
                            return response.json()
                        })
                        .then(function (json) {
                            let data = []
                            for (let i = 0; i < json.length; i++) {
                                data.push({value: json[i].id, text: json[i].name})
                            }

                            // Upon successful fetch send data to callback function.
                            // Be sure to send data back in the proper format.
                            // Refer to the method setData for examples of proper format.
                            callback(data)
                        })
                        .catch(function (error) {
                            // If any erros happened send false back through the callback
                            callback(false)
                        })
                    }
            })
        });
    </script>
{% endblock %}